table {
  font-family: calibri , sans-serif;
  border-collapse: collapse;
  width: 300px;
}

th {
  text-align: middle;
  padding: 8px;
  background-color:#A52A2A ;
  color:white ;
}

tr:nth-child(even) {
  background-color: #FFF8DC;
  border: 1px solid black
}
tr:nth-child(odd) {
  background-color: #F0E68C;
  border: 1px solid black
}